fastapi
fastapi-cors 
gunicorn
httpx
python-dotenv
uvicorn
python-multipart
numpy
requests
openpyxl
pandas
msrest
pydantic
passlib
python-jose
uuid-utils
fastapi-limiter
firebase-admin
pydantic